k-vizinhos mais próximos
========================

## Modelos preditivos

Quando criamos modelos preditivos, nosso objetivo é prever um (ou mais) target(s) usando um modelo que recebe um (ou mais) atributo(s). Um desafio neste caso é encontrar um modelo preditivo que seja capaz de prever *razoavelmente bem* o target desejado dados os atributos. &ldquo;Razoavelmente bem&rdquo; será quantificado no futuro através de métricas.

Quando o target a ser previsto é um target categórico, dizemos que o problema é um problema de *classificação*.

Quando o target a ser previsto é um target numérico, dizemos que o problema é um problema de *regressão*.

Existem diversas maneiras de se obter modelos preditivos. Aqui utilizaremos de estratégias de aprendizado de máquina. Algoritmos de aprendizado de máquina são capazes de induzir modelos preditivos observando conjuntos de dados contendo atributos e target.

## O algoritmo $k$​-vizinhos mais próximos

O algoritmo $k$​-vizinhos mais próximos ($k$​-NN) é um algoritmo de aprendizado de máquina baseado na hipótese que dados similares ocupam regiões próximas no espaço de entrada (isto é, no espaço dos atributos). Este algoritmo pode ser utilizado tanto para regressão quanto para classificação.

O princípio de funcionamento deste algoritmo será discutido em aula, mas de maneira resumida, quando um modelo treinado por este algoritmo é usado para realizar a previsão de um certo exemplo $x$, ele checa a distância deste exemplo $x$ com todos os exemplos usados para treinar o modelo. Os $k$ exemplos mais próximos de $x$ são usados para calcular a previsão do exemplo $x$.

Para uma fundamentação teórica, leia as páginas 53 a 58 da referência [1]. Pode ser interessante também ler o capítulo 12 da referência [2] assistir aos vídeos das referências [3, 4].

## Implementando um regressor $k$​-NN

Como parte da disciplina, vamos implementar um regressor $k$-NN em Python para entender o funcionamento de um algoritmo de aprendizado de máquina do começo ao fim. Para isso, usaremos o conjunto de dados de pinguins disponível no `seaborn`. Como atributos, vamos utilizar as medidas do bico e da nadadeira dos pinguins e como target vamos utilizar o peso dos pinguins.

In [5]:
import seaborn as sns

DATASET_NAME = "penguins"
FEATURES = ["bill_length_mm", "bill_depth_mm", "flipper_length_mm"]
TARGET = ["body_mass_g"]

df = sns.load_dataset(DATASET_NAME)

df = df.reindex(FEATURES + TARGET, axis=1)
df = df.dropna()

X = df.reindex(FEATURES, axis=1)
y = df.reindex(TARGET, axis=1)

Faremos juntos a implementação na sala de aula. Você pode conferir uma implementação gravada em vídeo na referência [5].

# Dados 03
### Sistema Não-Binário
#### Karla Pascoalini e Cauê Santos

## Proponente: 
Alfaiate Ligeirinha (apesar do nome, ela é na verdade uma barda muito conhecida no reinado, amiga da Senhorita Creizuda)
## Objetivo:
Escolha entre a sua dupla um dataset que tem potencial para ser o dataset do trabalho de conclusão da disciplina (é um dataset, não dois, não três). Datasets didáticos (tipo os que tem no seaborn) são desencorajados para esta tarefa. Carregue seu dataset em um DataFrame. Identifique quais são as colunas que contém atributos e quais são as colunas que contém targets. Faça uma análise exploratória dos dados, buscando entender como eles se comportam (não se esqueça de uma breve discussão). Identifique os tipos dos dados e realize conversão simbólico-numérica para todos os dados categóricos que identificou como atributo ou target (preste atenção se seus dados são ordinais ou nominais para fazer a conversão mais apropriada). Identifique dados que requerem transformação (seja por conversão de unidades ou por aplicação de logaritmo) e realize as transformações necessárias. Encerre seu trabalho definindo dois DataFrames: um chamado X que deverá conter todos seus atributos e um chamado y contendo todos seus targets. Tanto atributos quanto targets nestes DataFrames finais devem ser numéricos e já transformados (se for o caso). Não normalize os dados ainda!

In [6]:
X.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      342.000000     342.000000         342.000000
mean        43.921930      17.151170         200.915205
std          5.459584       1.974793          14.061714
min         32.100000      13.100000         172.000000
25%         39.225000      15.600000         190.000000
50%         44.450000      17.300000         197.000000
75%         48.500000      18.700000         213.000000
max         59.600000      21.500000         231.000000

In [7]:
len(X)

342

In [8]:
y.describe()

       body_mass_g
count   342.000000
mean   4201.754386
std     801.954536
min    2700.000000
25%    3550.000000
50%    4050.000000
75%    4750.000000
max    6300.000000

In [10]:
def treinar_knn(modelo, x, y):
    
    modelo['x'] = x
    modelo['y'] = y
    
modelo = {"num_vizinhos":3}
treinar_knn(modelo, X, y)

## Referências

1.  FACELI, Katti; LORENA, AC; GAMA, João; et al. Inteligência Artificial: uma abordagem de Aprendizado de Máquina. 2. ed., 2021.

2.  GRUS, Joel. Data Science from Scratch: First Principles with Python. 2. ed. Sebastopol, CA: O’Reilly Media, 2019.

3.  [https://www.youtube.com/watch?v=HVXime0nQeI](https://www.youtube.com/watch?v=HVXime0nQeI)

4.  [https://www.youtube.com/watch?v=4Dpf76AB9Js](https://www.youtube.com/watch?v=4Dpf76AB9Js)

5.  [https://www.youtube.com/watch?v=rTEtEy5o3X0](https://www.youtube.com/watch?v=rTEtEy5o3X0)