# Dados 02
### Sistema Não-Binário
#### Karla Pascoalini e Cauê Santos

## Proponente: 
Patrulheiro Formidável Amarelo
## Objetivo:
Escolha um conjunto de dados qualquer que contenha pelo menos 1 coluna com dados numéricos (pode ser atributo ou target, tanto faz). Faça operações de normalização e transformação neste dataset e o
bserve o que acontece.

### Escolha do DataSet

In [1]:
import seaborn as sns #Importa a biblioteca de DS

planets_data = sns.load_dataset("planets") #Carrega o DataSet

print(f'Dataset de planetas')
print(planets_data) #Mostra o DataSet

Dataset de planetas
               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

### Transformação

In [2]:
planets2 = planets_data.copy()

planets2["distance"] = planets2["distance"] * 9.461 * (10 ** 15)
print("Conversão da distancia de anoz luz para metros")
print()
print(planets2)
print()
print("Organização dos planetas pelo ano")
print()
planets2["year"].sort_values()

Conversão da distancia de anoz luz para metros

               method  number  orbital_period   mass      distance  year
0     Radial Velocity       1      269.300000   7.10  7.322814e+17  2006
1     Radial Velocity       1      874.774000   2.21  5.388040e+17  2008
2     Radial Velocity       1      763.000000   2.60  1.877062e+17  2011
3     Radial Velocity       1      326.030000  19.40  1.046576e+18  2007
4     Radial Velocity       1      516.220000  10.50  1.130306e+18  2009
...               ...     ...             ...    ...           ...   ...
1030          Transit       1        3.941507    NaN  1.627292e+18  2006
1031          Transit       1        2.615864    NaN  1.400228e+18  2007
1032          Transit       1        3.191524    NaN  1.646214e+18  2007
1033          Transit       1        4.125083    NaN  2.772073e+18  2008
1034          Transit       1        4.187757    NaN  2.459860e+18  2008

[1035 rows x 6 columns]

Organização dos planetas pelo ano

441    1989
942    1992
941    1992
943    1994
16     1995
       ...
846    2014
847    2014
849    2014
851    2014
840    2014
Name: year, Length: 1035, dtype: int64

### Normalização

#### Normalização Padrão

In [9]:
media = planets_data['orbital_period'].mean()
dsv_p = planets_data['orbital_period'].std()

planets_data['orbital_period_NP'] = (planets_data['orbital_period'] - media) / dsv_p

print(planets_data)

               method  number  orbital_period   mass  distance  year  \
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

      orbital_period_NP  orbital_period_NMA  orbital_period_NMM
0             -0.066640            0.000369            0.000369
1             -0.043366            0.001198            0.001198
2             -0.047662            0.001045            0.001045
3             -0.064459            0.000447            0.000446
4             -0.057148            0.000707            0.000707
...                 ...                 ...                 ...
1030          -0.076840            0.000005            0.000005
1031          -0.076891            0.000004            0.000003
1032          -0.076869            0.000004            0.000004
1033          -0.076833            0.000006            0.000006
1034          -0.076831            0.000006            0.000006

[1035 rows x 9 columns]

#### Normalização pelo Máximo Absoluto

In [5]:
maximo_absoluto = max(abs(planets_data['orbital_period']))

planets_data['orbital_period_NMA'] = planets_data['orbital_period'] / maximo_absoluto

print(planets_data)

def categoriza_atributos(lista):
    atributos = []
    for item in lista:
        if item not in atributos:
            atributos.append(item)
    return atributos

#planets_data['orbital_period2'].sort_values()
#print(categoriza_atributos(planets_data['orbital_period2']))

               method  number  orbital_period   mass  distance  year  \
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

      orbital_period_NP  orbital_period_NMA
0             -0.066640            0.000369
1             -0.043366            0.001198
2             -0.047662            0.001045
3             -0.064459            0.000447
4             -0.057148            0.000707
...                 ...                 ...
1030          -0.076840            0.000005
1031          -0.076891            0.000004
1032          -0.076869            0.000004
1033          -0.076833            0.000006
1034          -0.076831            0.000006

[1035 rows x 8 columns]

#### Normalização pelo Mínimo e Máximo

In [6]:
mín = planets_data["orbital_period"].min()
máx = planets_data["orbital_period"].max()

planets_data["orbital_period_NMM"] = (planets_data["orbital_period"] - mín) / (máx - mín)
print(planets_data)

               method  number  orbital_period   mass  distance  year  \
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

      orbital_period_NP  orbital_period_NMA  orbital_period_NMM
0             -0.066640            0.000369            0.000369
1             -0.043366            0.001198            0.001198
2             -0.047662            0.001045            0.001045
3             -0.064459            0.000447            0.000446
4             -0.057148            0.000707            0.000707
...                 ...                 ...                 ...
1030          -0.076840            0.000005            0.000005
1031          -0.076891            0.000004            0.000003
1032          -0.076869            0.000004            0.000004
1033          -0.076833            0.000006            0.000006
1034          -0.076831            0.000006            0.000006

[1035 rows x 9 columns]